#app {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

#side-nav {
  display: block;
  position: fixed;
  height: 90vh;
  top: 5vh;
  left: 0;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(
      55deg,
      rgba(44, 44, 44, 0.19) 2.82%,
      rgba(227, 227, 227, 0.2) 97.65%
    ),
    rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

#top-nav {
  display: none;
}

#main-page {
  margin-top: 5vh;
  width: 80vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  #app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #side-nav {
    background-color: blue;
    display: none;
  }

  #top-nav {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(
        55deg,
        rgba(44, 44, 44, 0.19) 2.82%,
        rgba(227, 227, 227, 0.2) 97.65%
      ),
      rgba(255, 255, 255, 0.2);
    /* box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.25); */
  }

  #main-page {
    margin-top: 0;
    width: 100vw;
    min-height: 60rem;
  }
}
