#calendar {
  display: flex;
  flex-direction: column;

  min-width: 400px;
  width: 800px;

  margin: 0 auto 10px auto;
  gap: 8px;
}

/* HEADER */
.calendar-header-container {
  display: flex;
  justify-content: space-between;

  margin: 10px 0px;
}

.calendar-header-change-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 40%;
  gap: 20px;

  background-color: transparent;
  font-size: 20px;
  line-height: 25.6px;
}

.calendar-header-change-button button {
  background-color: transparent;

  border: 0;
  border-radius: 100%;

  aspect-ratio: 1; /* 너비와 높이를 동일하게 설정 */

  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.calendar-header-change-button button:hover {
  background-color: rgba(255, 255, 255, 0.568);
}

.calendar-header-change-button img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 19px;
  height: 19px;
}

/* BODY */
.calendar-container {
  display: flex;
  flex-direction: column;

  padding: 25px 10px;
  gap: 15px;

  background: rgba(255, 255, 255, 0.568);

  border-radius: 20px;
}

.calendar-day-wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  grid-row-gap: 10px;
}

.calendar-item {
  display: flex;
  justify-content: center;
}

.calendar-item.sunday {
  color: red;
}

.calendar-item.weekday {
  color: #333;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: 4px;
  aspect-ratio: 1; /* 너비와 높이를 동일하게 설정 */

  cursor: pointer;

  color: #000; /* Default day color for current month */
  font-weight: bold;

  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar-day:hover {
  border-radius: 10px;
  background-color: rgba(255, 170, 0, 0.562);

  transition: all 0.3s ease;
}

.calendar-day.sunday {
  color: red;
}

.calendar-day.not-current-month {
  color: #aaa;
}

.calendar-day.selected-date {
  color: white;
  background-color: #ff9500;
  border-radius: 8px;

  font-weight: bold;

  transition: all 0.3s ease;
}

.calendar-day-schedules {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 3px;
  margin: 0;
  padding: 5px 0px;

  list-style: none;

  font-size: small;
  font-weight: normal;
  color: white;
}

.calendar-day-schedules .health-aver {
  display: block;

  margin: 0;
  padding: 0 5px;
  max-width: 100%;

  border-radius: 6px;
  background-color: #44803f;

  text-align: center;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
}

.calendar-day-schedules .mental-aver {
  display: block;

  margin: 0;
  padding: 0 5px;
  max-width: 100%;

  border-radius: 6px;
  background-color: #ff5a33;

  text-align: center;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
}

.calendar-day-schedules .no-aver {
  display: block;

  margin: 0;
  padding: 0 5px;
  max-width: 100%;

  border-radius: 6px;
  background-color: transparent;

  text-align: center;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
}

.calendar-day-schedule {
  display: block; /* 블록 요소 설정 */

  margin: 0;
  padding: 0 5px;
  max-width: 100%; /* 부모 요소에 맞춤 */

  border-radius: 6px;
  background-color: #0e0e0e7d;

  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
}

.calendar-day-schedules-date {
  height: 50%;
}

.calendar-day-schedules-widget {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50%;

  gap: 4px;
}

.calendar-day-schedules-widget .health {
  background-color: #44803f;

  border-radius: 100%;
  width: 10px;

  aspect-ratio: 1; /* 너비와 높이를 동일하게 설정 */
}

.calendar-day-schedules-widget .mental {
  background-color: #ff5a33;

  border-radius: 100%;
  width: 10px;

  aspect-ratio: 1; /* 너비와 높이를 동일하게 설정 */
}

.calendar-day-schedules-widget .no {
  background-color: transparent;

  border-radius: 100%;
  width: 10px;

  aspect-ratio: 1; /* 너비와 높이를 동일하게 설정 */
}

.calender-schedule {
  margin: 20px 10px 0px;

  display: flex;
  justify-content: space-between;
}

.calender-schedule-widget {
  margin: 20px 0px 0px;
}

.calendar-day-widget-schedules {
  display: flex;

  gap: 10px;
  margin: 10px 0 5px;
}

.calendar-day-widget-schedules .health-aver {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0 15px;
  width: 100%;
  height: 40px;

  border-radius: 8px;
  background-color: #44803f;
}

.calendar-day-widget-schedules .mental-aver {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0 15px;
  width: 100%;
  height: 40px;

  border-radius: 8px;
  background-color: #ff5a33;
}

.calendar-day-widget-schedules .status-aver {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 12px 0px;
  width: 100%;
  aspect-ratio: 1;

  border-radius: 8px;
  background-color: #c5c5c57d;
}

.calendar-day-widget-schedules .calendar-widget-icon {
  display: block;

  width: 30px;
  aspect-ratio: 1;
}

.calendar-day-widget-schedules .calendar-widget-status-icon {
  display: block;

  width: 30px;
  aspect-ratio: 1;
}

.calendar-schedule-date {
  margin-top: 10px;
  padding: 8px;

  /* background-color: #ff9500; */
  border-radius: 8px;

  /* font-size: small; */
  font-weight: bold;
}

.calender-schedule ul {
  margin-bottom: 0;
  padding: 0px;

  list-style: none;

  font-size: medium;
}

.calender-schedule-widget ul {
  margin-bottom: 0;
  padding: 0px;

  list-style: none;

  font-size: medium;
}

.calendar-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 8px;

  width: 100%;
}

.calendar-form input {
  width: 90%;
  height: 50px;
  padding-left: 15px;

  background-color: rgba(255, 255, 255, 0.568);

  border: 0;
  border-radius: 8px 0px 0px 8px;
}

.calendar-form input:focus {
  outline: 1px #ff9500 solid;
}

.calendar-form button {
  width: 10%;
  height: 50px;

  background-color: #ff9500;

  border: 0;
  border-radius: 0px 8px 8px 0px;

  cursor: pointer;
  font-size: x-large;
}

.calendar-schedule-reports-box {
  display: flex;
  justify-content: space-between;

  margin: 5px 0px;
  gap: 10px;

  width: 100%;
}

.calendar-schedule-reports-box .calendar-day-status-schedules {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  gap: 10px;
}

.calendar-day-status-schedules .main-status-aver {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0 15px;
  width: 25%;
  height: 60px;

  border-radius: 8px;
  background-color: #c5c5c57d;
}

.calendar-day-status-schedules .main-status-aver img {
  height: 70%;
}

.calendar-schedule-reports-box .calendar-health-reports {
  width: 50%;

  padding: 5px;

  background-color: #c5c5c57d;
  border-radius: 11px;
}

.calendar-schedule-reports-box .calendar-health-reports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 10px;

  width: 100%;
  height: 50px;

  background-color: #44803f;
  border-radius: 8px;
}

.calendar-schedule-reports-box .calendar-health-reports-header img {
  height: 75%;
}

.calendar-schedule-reports-box .calendar-health-reports ul {
  margin: 0;
  padding: 0;

  min-height: 120px;

  list-style: none;
}

.calendar-health-reports .health-report {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  padding: 5px;
}

.calendar-health-reports ul .critical-score {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 8px;

  width: 35px;
  height: 28px;

  background-color: red;
  border-radius: 8px;

  font-weight: bold;
}

.calendar-health-reports ul .health-score {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 8px;

  width: 35px;
  height: 28px;

  background-color: #44803f;
  border-radius: 8px;
}

.calendar-health-reports ul .health-report-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  margin: 5px 0px;
  padding: 0px 8px;

  height: 30px;
}

.calendar-health-reports ul .health-report-header p {
  text-align: end;

  margin: 0;
}

.calendar-schedule-reports-box .calendar-mental-reports {
  width: 50%;

  padding: 5px;

  background-color: #c5c5c57d;
  border-radius: 11px;
}

.calendar-schedule-reports-box .calendar-mental-reports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 10px;

  width: 100%;
  height: 50px;

  background-color: #ff5a33;
  border-radius: 8px;
}

.calendar-schedule-reports-box .calendar-mental-reports-header img {
  height: 75%;
}

.calendar-schedule-reports-box .calendar-mental-reports ul {
  margin: 0;
  padding: 0;

  min-height: 120px;

  list-style: none;
}

.calendar-schedule-reports-box .no-data {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
}

.calendar-mental-reports .mental-report {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  padding: 5px;
}

.calendar-mental-reports ul .critical-score {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 8px;

  width: 35px;
  height: 28px;

  background-color: red;
  border-radius: 8px;

  font-weight: bold;
}

.calendar-mental-reports ul .mental-score {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 8px;

  width: 35px;
  height: 28px;

  background-color: #ff5a33;
  border-radius: 8px;
}

.calendar-mental-reports ul .mental-report-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  margin: 5px 0px;
  padding: 0px 8px;

  height: 30px;
}

.calendar-mental-reports ul .mental-report-header p {
  text-align: end;

  margin: 0;
}
