#login-form {
margin: 0 auto;
padding: 2rem;

width: 100%;
min-width: 450px;
max-width: 600px;

border-radius: 8px;
cursor: none;
}

#login-form .login-form-row {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 1rem;
cursor: none;
}

#login-form .login-control {
width: 100%;
}

#login-form .login-control input {
display: block;
cursor: none;

width: 100%;
height: 50px;
padding-left: 15px;

background-color: rgba(255, 255, 255, 0.568);

border: 0;
border-radius: 8px;
}

#login-form .login-control label {
display: block;
cursor: none;

margin-bottom: 0.2rem;

color: white;
text-transform: uppercase;
font-weight: bold;
font-size: 0.8rem;
}

#login-form .login-header {
display: flex;
justify-content: space-between;
justify-self: center;
align-items: center;

margin-bottom: 1rem;
}

#login-form .login-header h2 {
margin: 0;
}

#login-form .login-header button {
width: 40px;
height: 40px;

border: 0;
border-radius: 12px;

background-color: transparent;
color: #ff5a33;

font-size: larger;
text-align: center;

transition: all 0.3s ease;
cursor: none;
}

#login-form .login-header button:hover {
background-color: #ff5a33;

color: white;

transition: all 0.3s ease;
}

#login-form .login-form-action {
display: flex;
flex-direction: column;

margin-bottom: 0;
}

#login-form .login-form-action .login-btn {
width: 100%;
height: 50px;

margin-top: 10px;

border: 0;
border-radius: 8px;

background-color: #44803f;

color: white;
font-weight: bold;

cursor: none;
transition: all 0.3s ease;
}

#login-form .login-form-action .login-btn:hover {
filter: brightness(0.8);

transition: all 0.3s ease;
}

#login-form .login-form-action { 
width: 100%;
height: 50px;

margin-top: 10px;

border: 0;
border-radius: 8px;

background-color: transparent;

color: white;
font-weight: bold;

transition: all 0.3 ease;
}

#login-form .login-form-action:hover {
background-color: #44803f;

filter: brightness(1.1);

transition: all 0.3s ease;
}

#login-form .login-form-action:hover {
filter: brightness(0.8);

transition: all 0.3s ease;
}

.logout-btn {
width: 100%;
height: 50px;
cursor: none;

margin-top: 10px;

border: 0;
border-radius: 8px;

background-color: #ff5a33;

color: white;
font-weight: bold;

transition: all 0.3s ease;
}

.logout-btn:hover {
filter: brightness(0.8);

transition: all 0.3s ease;
}