#chatting-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 350px;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
}

.message-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

/* 내가 보낸 메시지는 오른쪽 정렬 */
.my-message {
    justify-content: flex-end;
}

/* 상대방이 보낸 메시지는 왼쪽 정렬 */
.other-message {
    flex-direction: row;
    justify-content: flex-start;
}

.mainText {
    background-color: #B4CF66;
    color: #000000;
    align-self: flex-end;
}

.subText {
    background-color: #FFEC5C;
    color: #000000;
    align-self: flex-start;
}

.message-time {
    color: #767676;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 1000;
    margin-top: 45px;
}

/* 내가 보낸 메시지의 시간 (왼쪽) */
.message-time.left {
    order: -1;
    margin-right: 8px;
    text-align: right;
}

/* 상대방이 보낸 메시지의 시간 (오른쪽) */
.message-time.right {
    margin-left: 8px;
    text-align: left;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.message-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.message-header {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
}

.message-header .chat-title {
    margin-top: 10px;
}

.message-title {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 1000;
}

.message-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
}

.message-list {
    flex: 1;
    width: 100%;
    height: 250px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #D9D9D9;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.divider {
    width: 2px;
    background-color: #ECECEC;
    /* height: 100%; */
    min-height: 100%;
    height: auto;
    margin: 0 10px;
}

.photo-upload {
    flex: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #A3A3A3;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    overflow: auto;
}

.photo-upload img {
    width: 100px;
    height: 100px;
}

.reply {
    color: #767676;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
}

.reply-bar {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #D9D9D9;
    border-top: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
}

.reply-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 전송 버튼 (활성화 상태) */
.send-button {
    padding: 10px 15px;
    background: #FFEC5C;
    color: #54736D;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 전송 버튼 (비활성화 상태) */
.send-button.disabled {
    background: #ccc;
    color: #888;
    cursor: not-allowed;
}

/* 다시 말하기 버튼 */
.retry-button {
    padding: 10px 15px;
    background: #A3A3A3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .reply-bar button {
    padding: 10px 15px;
    background: #44803f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

.date {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 0.5rem;
    font-weight: 1000;
}

.cancelButton {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
  
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.5rem 1.5rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: #BFBFBF;
  }

.button .enable {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.5rem 1.5rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #FFEC5C;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: #54736D;
}

.button .disable {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.5rem 1.5rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: #BFBFBF;
}

.button .again {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.5rem 1.5rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #B1B1B1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: #54736D;
}

.button .attach {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 1000;
    padding: 0.5rem 1.5rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #44803F;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
}

.user-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-button {
    --w: 10em;
    --bg: rgb(var(--rgb));
    --bga: rgba(var(--rgb), 0.4);

    width: var(--w);
    height: var(--w);
    background: var(--bg);
    box-shadow: 0 3px 12px 2px var(--bga);

    transition: 0.1s transform, 0.3s box-shadow;
    will-change: transform, box-shadow;
    backface-visibility: hidden;

    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    height: 130px;
    color: white;
    background-color: #44803F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-button:hover {
    background-color: #54736D;
    transform: scale(1.05);
}

/* 클릭 애니메이션 효과 */
.user-button:active {
    animation: clickEffect 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

/* 클릭 시 색상 변경 */
.user-button.clicked {
    animation: clickEffect 1s cubic-bezier(0.5, 0, 0.5, 1);
}

/* 클릭 애니메이션 효과 */
@keyframes clickEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}  