#activity-main {
  width: 80vw;
  min-width: 400px;
}

#activity-container {
  display: flex;
  justify-content: space-between; /* 요소 간 좌우 정렬 */
  align-items: flex-start; /* 상하 정렬 */
  width: 100%;
  gap: 10px;
}

#activity-elem-left,
#activity-elem-right {
  flex: 1 1 auto; /* 필요 시 크기 조정 가능 */
}

#activity-elem-left {
  width: 40%; /* 고정 폭 */
  min-width: 300px; /* 최소 폭 */
}

#activity-elem-right {
  width: 60%; /* 고정 폭 */
  min-width: 300px; /* 최소 폭 */
}

#activity-chart-container {
  width: 100%;

  padding: 15px;

  border-radius: 15px;

  background-color: #b4b4b4;
}

#activity-chart {
  width: 100%;
  height: 400px;

  padding: 10px 0px 0px;

  border-radius: 13px;

  background-color: rgba(255, 255, 255, 0.719);
}

#activity-chart .custom-tooltip {
  min-width: 150px;

  padding: 10px;

  background-color: rgba(226, 226, 226, 0.5);
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.25);

  border-radius: 10px;
}

#activity-chart .custom-tooltip h3 {
  margin: 0;

  color: rgb(77, 77, 77);
}

#activity-chart .custom-tooltip p {
  margin: 0;

  color: rgb(77, 77, 77);
}

#activity-chart .custom-tooltip .date {
  margin-bottom: 5px;
  font-size: larger;
  font-weight: bold;
}

#activity-chart .custom-tooltip .health {
  color: #44803f;
  font-size: smaller;
}

#activity-chart .custom-tooltip .mental {
  color: #ff5a33;
  font-size: smaller;
}

#activity-chart .custom-tooltip .desc {
  margin: 5px 0px 0px;

  color: black;
  font-size: smaller;
}

hr {
  border: solid rgb(77, 77, 77) 1px;
}

#activity-toggle-group {
  display: flex;
  justify-content: space-between;

  width: 100%;
  gap: 10px;
}

#activity-toggle {
  box-sizing: border-box;

  display: flex;

  min-width: 48%;
  max-width: 150px;
  height: 80px;
  padding: 15px;

  border-radius: 10px;

  background: #d9d9d9ac;
}

#activity-toggle-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  gap: 12px;

  color: black;
  text-align: end;
}

.toggle-activity {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 2px;

  border-radius: 100%;

  background-color: #44803f;

  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-activity:hover {
  padding: 0;

  background-color: #4d9346;

  transition: all 0.3s ease;
}

.toggle-mental {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 2px;

  border-radius: 100%;

  background-color: #ff5a33;

  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-mental:hover {
  padding: 0;

  background-color: #da4f30;

  transition: all 0.3s ease;
}

#activity-toggle-box img {
  width: 70%;
}

#activity-toggle-box .toggle-name {
  margin: 0 5px;
}

#activity-toggle-box .toggle-status-bad {
  margin: 0 5px;

  font-size: x-large;
  font-weight: bold;
  color: #ff5a33;
}

#activity-toggle-box .toggle-status-good {
  margin: 0 5px;

  font-size: x-large;
  font-weight: bold;
  color: #44803f;
}

#weekly-stats-container {
  display: flex;
  justify-content: space-between;
}

#weekly-chart-container {
  width: 50%;

  padding: 15px;

  border-radius: 15px;

  background-color: #b4b4b4;
}

#summary-container {
  width: 50%;

  padding: 20px;
}

#summary-container .summary-title {
  color: #ffec5c;
  margin: 0;
}

/* #summary-container .summary-content {
} */

@media screen and (max-width: 1200px) {
  #activity-container {
    display: flex;
    flex-direction: column;
  }

  #activity-elem-left {
    width: 100%;
  }

  #activity-elem-right {
    width: 100%;
  }
}
