#home {
  display: flex;
  flex-direction: column;
  width: 90%;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  #home {
    width: 100%;
  }
}

#icon-box {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#icon-box #icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 80%;
  margin: 5rem;
  padding: 2rem;
  border-radius: 8px;
  background: #ffffff50;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#icon-box #icon img {
  width: 70%;
}

#icon-box #icon button {
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

#icon-box #icon:hover {
  filter: brightness(75%);
  transition: all 0.3s ease;
}

#icon-box #icon .icon-name {
  font-weight: bold;
  font-size: x-large;
  color: white;
  margin-top: 3rem;
}

#dock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  /* background-color: blue; */
  padding: 0 2rem;
  gap: 2rem;
}

#dock #dock-icon {
  width: 150px;
  height: 150px;
  /* background: #282617ad; */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

#dock #dock-icon .enable-img:hover {
  filter: brightness(60%);
  transition: all 0.3s ease;
}

#dock #dock-icon .disable-img:hover {
  filter: brightness(60%);
  transition: all 0.3s ease;
}

#dock #dock-icon .enable-img {
  width: 80%;
  height: 80%;
  /* background-color: #b4cf66; */
  border-radius: 100%;
}

#dock #dock-icon .disable-img {
  width: 80%;
  filter: brightness(50%);
  height: 80%;
  /* background-color: #ff5a33; */
  border-radius: 100%;
}

#dock #dock-icon img {
  width: 100%;
}

#dock #dock-icon img {
  width: 100%;
  /* filter: brightness(50%); */
}

#dock #dock-icon button {
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #dock {
    padding: 0 1rem;
    gap: 1rem;
  }
}