#toggle-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 10px;
  justify-content: space-between; /* 공간 균등 분배 */
}

#toggle {
  box-sizing: border-box;

  display: flex;

  min-width: 48%;
  max-width: 150px;
  height: 80px;
  padding: 10px;

  border-radius: 10px;

  background: #d9d9d9ac;
}

#toggle-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 12px;

  color: black;
}

.toggle-active {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 2px;

  border-radius: 100%;

  background-color: #44803f;

  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-active:hover {
  padding: 0;

  background-color: #4d9346;

  transition: all 0.3s ease;
}

.toggle-deactive {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 2px;

  border-radius: 100%;

  background-color: #ff5a33;

  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-deactive:hover {
  padding: 0;

  background-color: #da4f30;

  transition: all 0.3s ease;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border: 0;
  border-radius: 100%;

  background-color: transparent;
}

.toggle-button img {
  width: 80%;
}

#status-toggle {
  box-sizing: border-box;

  display: flex;

  min-width: 48%;
  max-width: 150px;
  height: 80px;
  padding: 15px;

  border-radius: 10px;

  background: #d9d9d9ac;
}

#status-toggle-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  gap: 12px;

  color: black;
  text-align: end;
}

#status-toggle-box .good {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 2px;

  border-radius: 100%;

  background-color: #44803f;

  cursor: pointer;
  transition: all 0.3s ease;
}

#status-toggle-box .good:hover {
  padding: 0;

  background-color: #4d9346;

  transition: all 0.3s ease;
}

#status-toggle-box .bad {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 2px;

  border-radius: 100%;

  background-color: #ff5a33;

  cursor: pointer;
  transition: all 0.3s ease;
}

#status-toggle-box .bad:hover {
  padding: 0;

  background-color: #da4f30;

  transition: all 0.3s ease;
}

#status-toggle-box img {
  width: 70%;
}

#status-toggle-box .toggle-name {
  margin: 0 5px;
}

#status-toggle-box .bad-status {
  margin: 0 5px;

  font-size: large;
  font-weight: bold;
  color: #ff5a33;
}

#status-toggle-box .good-status {
  margin: 0 5px;

  font-size: large;
  font-weight: bold;
  color: #44803f;
}

hr {
  width: 100%;
  background-color: #d9d9d9ac;
}
