#page-container {
  display: flex;
  justify-content: start;
  flex-direction: row;

  flex-wrap: wrap;
}

#home-main {
  width: 100%;
  min-width: 400px;
}

@media screen and (max-width: 720px) {
  #page-container {
    display: inline-block;
  }
}
