#home-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  width: 100%;
}

#home-main h2 {
  height: 10%;

  color: #0d1321;
  font-size: 36px;
  margin: 0px 20px 10px;
}

#page-container {
  display: flex;
  justify-content: start;
  flex-direction: row;

  flex-wrap: wrap;

  min-width: 380px;
  gap: 10px;
}

@media screen and (max-width: 720px) {
  #home-main h2 {
    display: none;
  }

  #home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
  }
}
